@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  @apply px-[3.4698%];
}

.text-stroke {
  color: transparent; /* hide fill */
  -webkit-text-stroke: 0.9px #297fdf; /* stroke width & color */
}
